@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

.contenedor {
    background-image: url(../../assets/img/imgInicioRegistro/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Zen Kaku Gothic New", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6%;
    height: auto; 
    width: 100%; 
}


.logon {
    width: 100%;
}
.titulo{
    font-size: 30px;
}
input{
    height: 25px;
}

.recuperar-contraseña input {
    display: flex;
    flex-direction: row;
    background-color: red;
}

.nombre {
    margin-bottom: 20px;
}
.check{
    background-color: red;
    height: auto;
    width: auto;
}

.contras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.crear-cuenta {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boton {
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;

}

.formulario {
    background-color: white;
    padding: 2%;
    font-size: 15px;
    width:40%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.texto {
    max-width: auto;
    font-size: 12px;

}

.entrada {
    width: 100%;
    border: solid 2px darkgray;
    box-sizing: border-box;
    align-items: center;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 10px;
}

.nombre {
    color: black;
    font-weight: bold;
}

.mensaje-error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
    max-width: 230px;
    max-height: 10px;
}

.aceptar-cambios {
    margin-bottom: 20px;
}

.crear-cuenta {
    display: flex;
    justify-content: center;
}

/* pantallas medianas */
@media (max-width: 992px) {
    body {
        font-size: 14px;
    }

    .formulario {
        width: 70%;
        padding-right: -0px;
    }

    button.boton {
        max-width: 70vh;
    }
}

/* pantallas pequeñas */
@media (max-width: 667px) {
    body {
        font-size: 15px;
    }

    .formulario {
        margin: 0;
        padding: 10px;
        max-width: none;
        /* Elimina el ancho máximo */
    }

    .entrada,
    .boton {
        width: 100%;
    }
}