@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

body, html{height: 100%;
width: 100%;}

body{
background-image: url(../../assets/img/imgInicioRegistro/fondo.jpg);
background-size: cover;
background-repeat: repeat;
font-family: "Zen Kaku Gothic New", sans-serif;
margin: 0;
padding: 0;}

.reccontra {
display: flex;
  flex-direction: row;
  margin-bottom: 20px;}

.nombre {
  margin-bottom: 20px;
}

.contras {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnc {
  margin-bottom: 0px;
}

.crearc {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boton {
  height: 40px;
  width: 320px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-bottom: 10px;
  min-width: 315px;
}
.form{
	background-color: white;
	padding:5%;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
  margin: auto;
}

.inpus {
  width: 100%;
	min-width: 315px;
	border: solid 2px darkgray;
	box-sizing: border-box;
	align-items: center;
	font-size: 16px; 
  padding: 8px;
  margin-bottom: 10px;
}

.n {
  color: black;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
  max-width: 230px;
  max-height: 10px;
}

.aceptarc {
  margin-bottom: 20px;
}

.cuenta {
  display: flex;
  justify-content: center;
}

/* pantallas medianas */
@media (max-width: 992px) {
  body {
    font-size: 14px;
  }
    .form {
    min-width: 70%;
  }

  .inpus {
	max-width: 8px;
  }
  .boton{
	max-width: 8px;
  }
}

/* pantallas pequeñas */
@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .form {
    min-width: 70%;
  }

  .inpus {
    background-color: white;
  }
  
}
@media (max-width: 992px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
