@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

body{
background-image: url(../../assets/img/imgInicioRegistro/fondo.jpg);
background-size: cover;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
font-family: "Zen Kaku Gothic New", sans-serif;
font-style: normal;

}
.tit{
	display: flex;
	justify-content: center;
}
.formulario{
	background-color: white;
	padding: 30px;
	font-size: 15px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5)
}

.todo{
	display: flex;
	justify-content: center;
}
.correo{
	margin-bottom: 20px;
}
.logo{
	display: flex;
	justify-content: center;
}
.contraseña{
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.contras{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.reccontra{
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}
.btnc{
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}
.crearc{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.inpus{
	height: 30px;
	width: 400px;

}
.boton{
	height: 40px;
	width: 400px;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}
.n{
	color: black;
	font-weight: bold;
}