@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap');

.content{
  display: flex;
  flex-direction: row;
  max-width: auto;
  display: grid;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 70px;
}

.cargaArticulos{
  display: flex;
  justify-content: center;
}

.caja-bicicletas {
  margin: 10px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  background-color: #e3e3e3;
  border-radius: 8px;
  height: 100%; /* Cambiado de auto a 100% */
  min-height: 450px; /* Establecer una altura mínima */
  text-align: center;
  width: 350px;
  box-shadow: 5px 5px 5px #b7b7b7;
  cursor: default;
  transition: all 400ms ease;
  overflow: hidden;
  img{
    max-width: 100%;
    padding: 20px;
}
}
.nombre-bici{
  font-size: 1.5rem;
}

.caja-bicicletas:hover{
  position: unset,;
  box-shadow: 7px 7px 7px #b7b7b7;
  transform: translateY(-3%);
  cursor: pointer;
}

.caja-bicicletas #precio{
  margin-left: 5px;
  display: flex;
  overflow: hidden;
}

.caja-bicicletas #precio{
  font-family: "Jockey One", sans-serif;  
  font-size: 30px;
  font-style: normal;
  color:#006C11;
  background-color: white;
  max-width: fit-content;
  max-height: fit-content;
  padding: 4px;
  margin: 5px;
  border-radius: 10px;
}

.caja-bicicletas #descuento{
  font-family: "Jockey One", sans-serif;  
  font-style: normal;
  color:#000000;
  background-color: white;
  max-width: fit-content;
  max-height: fit-content;
  padding: 2px;
  margin: 5px;
  border-radius: 10px;
}


.detalle-bicicletas{
 
  background-color: white;
  padding: 5px;
  border-radius: 0px 0px 8px 8px ;
  font-family: "Yaldevi", sans-serif;
  font-style: normal;
  max-height: 200px; /* Establece una altura máxima */
  overflow: hidden; /* Oculta el contenido que se desborda */
}

.detalle-bicicletas p {
  padding: 2px;
  margin: 5px;
  display: flex;
  text-align: start;
  justify-content: flex-start;
  color: #616161;
}

.footer{
  height: 3rem;
  display: flex;
  justify-content: center;
  padding-right: 2%;
  padding-bottom: 2%;
  
}
.button{
  width: 90%;
  max-width: 100%;
  height: 100%;
  display: flex;
  border-radius: 5px;

}
.button .btn{
  color: white;
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 100%;
}
.button .btn:hover{
  background-color: #616161;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Espacio superior */
}

.pagination li {
  list-style: none;
  margin: 0 5px;
}

.pagination li button {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination li button:hover {
  background-color: #f0f0f0;
}

.pagination li.active button {
  background-color: #A1D1D8;
  color: #fff;
}

