@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

body{

display: flex;
flex-direction: column;
font-family: "Zen Kaku Gothic New", sans-serif;
font-style: normal;
align-items: center;
}
.tit{
	margin-top: 0px;
	display: flex;
	justify-content: center;
}
.formulario{
	background-color: white;
	padding: 30px;
	max-width: 380px;
	font-size: 15px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	
}

.todo{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.logo{
	height: auto;

}

.contras{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.boton{
	height: 30px;
	width: 380px;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	margin-bottom: 10px;
}
li{
	display: flex;
	flex-direction: column;
	text-align: justify;
	justify-content: center;
	margin-left: -35px;
}
.n{
	color: black;
	font-weight: bold;
}
.error{
	color: red;
	margin-bottom: 20px;
}
.code{
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .formulario {
        padding: 20px;
    }
}

@media screen and (max-width: 576px) {
    .formulario {
        padding: 10px;
    }
    .inpus, .boton {
        width: 70%;
        max-width: none;
		display: flex;
		justify-content: center;
    }
}

