@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

.todo{
background-image: url(../../assets/img/imgInicioRegistro/fondo.jpg);
background-size: cover;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
font-family: "Zen Kaku Gothic New", sans-serif;
font-style: normal;
align-items: center;
}
.texto{
	margin-bottom: 20px;
}
.tit{
	margin-top: 0px;
	display: flex;
	justify-content: center;
}
.inic{
	color: white;
	background-color: black;
	border-radius: 10px;
	padding: 5px;
	max-width: 11%;
	height: 15px;
	size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.inic2{
	color: white;
	background-color: black;
	border-radius: 10px;
	padding: 5px;
	max-width: 30%;
	height: 15px;
	size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.formulario{
	background-color: white;
	padding: 30px;
	max-width: 350px;
	font-size: 15px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
}

.todo{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.logo{
	height: auto;
	width: 350px;
}

.contras{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.btnc{
	margin-bottom: 0px;
}

.inpus{
	height: 25px;
	width: 340px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.boton{
	height: 30px;
	width: 348px;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	cursor: pointer;
	margin-bottom: 10px;
}
.n{
	color: black;
	font-weight: bold;
}
.error{
	color: red;
	margin-bottom: 20px;
}
.code{
	margin-bottom: 20px;
}
.panel-emergente {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


@media screen and (max-width: 768px) {
    .formulario {
        padding: 20px;
    }
}

@media screen and (max-width: 576px) {
    .formulario {
        padding: 10px;
    }
    .inpus, .boton {
        width: 70%;
        max-width: none;
		display: flex;
		justify-content: center;
    }
}

