.todoa {
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 95%;
    height: auto;
}

.volver {
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.panel-emergente {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: #aed6d6;
    border-radius: 5px;
    padding: 15px;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
}

.logox {
    height: auto;
    width: 20%;
    padding: 0px;

}

.necesario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: solid 1px darkgray;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.codigo {
    font-size: 11px;
}

.image {
    font-size: 11px;
}

.loprim {
    font-weight: ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px darkgray;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.desplegables {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-around;
    align-items: center;
    border: solid 1px darkgray;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.form {
    min-width: 100%;
    margin-top: 0px;

}

.ultm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 1px darkgray;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.cat {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

select {
    width: 320px;
    height: 30px;
}

.marc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px darkgray;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.porcentajes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px darkgray;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.porcentajes input {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.btnc {
    height: auto;
    width: auto;
    padding: 5px;

}

.tit {
    color: black;
}

.botons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.panel-error {
    background-color: #9d0d0d;
  }
  
.btn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: auto;
    width: auto;
    padding: 5px;
    border-radius: 5px;

}

.btnv {
    background-color: rgb(0, 0, 0);
    color: white;
    height: auto;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    font-style: none;
}

.btnc {
    background-color: black;
    color: white;
    height: auto;
    width: auto;
    padding: 5px;
    border-radius: 5px;
    font-style: none;

}