@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.botonesuser{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
}
.iniciar-s{
    background-color:white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-style: none;
}
.cerrar-s{
    background-color:white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-style: none;
}

.header {
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 50px;
}

.logo-letra {
    font-size: 40px;
    font-weight: bold;
    padding: 0px 0px 0px 40px;
    line-height: 80px;

    .blue {
        color: #A1D1D8;
    }
}

.navprincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    height: 100px;
    margin: 0 auto;
}

.nav-link {
    text-decoration: none;
    color: white;
}


.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 0px 10px;

    width: max-content;
}

.nav-menu-link {
    padding: 4px 12px;
    border-radius: 3px;
    cursor: pointer;
}

.nav-menu-link:hover {
    background-color: #9f9f9f;
    transition: 0.5s;
}


.nav-toggle {
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0px 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}


.navegation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main {
    display: flex;
    align-items: center;
    height: 30px;
    width: fit-content;
    background-color: #FFFFFF;
    padding: 08px;
    border-radius: 30px;
    gap: 5px;
}

 .buscador {

    font-family: "Jockey One", sans-serif;
    font-weight: 3002;
    font-style: normal;
    height: 25px;
    color: #C2C2C2;
    border: 0px;
    outline: 0px;
    width: 400px;
    font-size: 14px;
    box-shadow: none;
}

.fa-magnifying-glass {
    color: #C2C2C2;
}

.options {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.options .contactanos {
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 2px 4px;
}
.options .optionsUp .carrito-compra{
    position: relative;
}

.options .optionsUp .carrito-compra box-icon{
    cursor: pointer;
    height: 35px;
    width: 40px;
}
.options .optionsUp .carrito-compra span{
    position: absolute;
    top: -0.01rem;
    right: -0.7rem;
    width: 1.5rem;
    border: 1px solid red;
    border-radius: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
    color: white;
    padding: 0rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: red;
}
   
.optionsDown .bienvenido{font-size:10px ;}
.optionsDown  .user{width: 10vh     ;}
.optionsUp {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
   
}

.optionsDown {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;}

@media screen and (max-width:667px) {

.header {height: 60vh;}
.navprincipal {
            height: 50px;
        display: flex;
        flex-direction: column;}
        



.logo img {
    margin-top: 10px;
        height: 30px;
        align-items: center;}

.logo-letra {
        font-size: 20px;

      margin-left: -50px;
        line-height: 60px;



    }

  
   



   

   

}
