@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;}

body{ font-family: "Yaldevi", sans-serif;}

.modal {
    background-color: rgba(0, 0, 0, 0.671);
    display: flex;
    justify-content: center;
    align-items: center; /* Esto centrará el contenido verticalmente */
    position: fixed; /* Esto asegurará que el modal se mantenga fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%; /* Ancho igual al ancho de la ventana del navegador */
    height: 100%; /* Altura igual a la altura de la ventana del navegador */}

p{margin-bottom: 10px;}

.modal-contenedor{
    padding: 30px ;
    margin: 0;
    border-radius: 10px;
    background-color: rgb(242, 241, 241);
    height: 500px;}
@media (max-width: 768px){
        .modal-contenedor
         {width: 90%; 
        margin-top: -30%;}}

@media (min-width:768px){
    .modal-contenedor
        {width: 90%;}}

@media (max-width: 1024px){
        .modal-contenedor
        {height: 500px;}}
    
    @media (min-width:600px){
        .modal-contenedor
            {width: 40%;}}


    

.titulo{
    text-align: center;
    margin-bottom: 20px;}

.input-group{
    display: flex;
    justify-content:
    space-between;}

.input-group input{width: calc(50% - 10px);}

.mensaje{
    width:90vh;
    height: 30vh; 
    margin-bottom: 10px;}
    @media (max-width: 768px){
        .mensaje
         {width: 100%;
        height: 35%; }}
@media (min-width: 820px){
    .mensaje
        {width: 100%;
        height: 35%;}}



input{
    padding-left: 10px;
    width:40vh;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 0; margin-right: 0;
    border-radius: 5px;
    box-shadow: 0vh 0vh 10px 0  rgb(82, 79, 79)}

.enviar-mensaje {
    display: flex;
    justify-content: center;}
  
.enviar-mensaje button {
    padding: 10px 20px;
    background-color: #c7c6c6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    max-width: 200px;}

.cerrar { position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
   }
  